
body{
    font-family: 'Inter', sans-serif;
    color: #444;
    background-image: url("../img/fondo2.jpg");
    background-size: 200px;
}
.fondoCarrot{
    background-image: url('../img/imagen-carrot.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #444;
   
}
.fondoColor{
    background-color: whitesmoke
}
h1{
    color:rgb(8, 5, 5);
}
.logoLu{
    margin: auto;
    display: block;
}
h2{
    background-color: #EAEAEA;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
ul{
    background-color: whitesmoke;
}
.fa-carrot{
    color: orangered
}