
body { 
    font-family: 'Inter', sans-serif;
    background-image: url("../img/fondo.jpg");
    background-size: 15%;
}
.fa-carrot{
    color: orangered
}
.fa-lemon{
    color: yellow
}
.fondo{
    background-color: rgb(152, 250, 240);
}