
body{
    font-family: 'Inter', sans-serif;
    color: #444;
    background-image:url("../img/fondo2.jpg");
    background-size: 200px;
}
.fondoLemon{
    background-image: url('../img/lemonNuevo.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:white


}
.logoLu{
    margin: auto;
    display: block;
}
h2{
        font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black
}
h3{
    font-family: 'Playfair Display', serif;
    color: black
}
ul{
    background-color: whitesmoke;

}
ol{
    background-color: whitesmoke
}